@import "~normalize.css";

:root {
  --color-text: #161618;
  --color-background: #FCFDFF;
  --color-primary: #0185FF;
  --color-white: #FCFDFF;
  --color-header-border: #161618;

  --font-primary: 'Raleway', sans-serif;
  --font-text: 'Merriweather', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #FCFDFF;
    --color-background: #161618;
    --color-header-border: #8B9292;
  }
}

body {
  margin: 0;
  font-family: var(--font-text);
  font-size: 14px;
  line-height: 22px;
  background-color: var(--color-background);
  color: var(--color-text);
}